<%= javascript_include_tag Ckeditor.cdn_url %>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header d-flex p-0">
        <ul class="nav nav-pills mr-auto p-2">
          <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">General</a></li>
          <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Seo</a></li>
          <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab">Widgets</a></li>
        </ul>
      </div>
      <%= nested_form_for [:admin, @model], html: {multipart: true} do |f| %>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :alias %>
                    <%= f.text_field :alias, class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= f.label :intro_text %>
                    <%= f.text_area :intro_text, class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= f.label :text %>
                    <%= f.cktext_area :text, class: 'form-control editor' %>
                  </div>

                  <div class="form-group">
                    <%= image_tag(@model.image.name, width: 300) if @model.image.present? %>
                  </div>

                  <%= f.fields_for :image do |image_form| %>
                    <% if @model.image.present? && !@model.image.name.blank? %>
                      <p>
                        <label>
                          <%= image_form.check_box :remove_name %>
                          Remove image
                        </label>
                      </p>
                    <% end %>
                    <div class="form-group">
                      <div class="custom-file">
                        <%= image_form.label :image, value: 'Choose file', class: 'custom-file-label' %>
                        <%= image_form.file_field :name, class: 'custom-file-input', id: 'customFile' %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab_2">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <%= f.label :h1 %>
                    <%= f.text_field :h1, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :title %>
                    <%= f.text_field :title, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :description %>
                    <%= f.text_field :description, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :breadcrumb %>
                    <%= f.text_field :breadcrumb, class: 'form-control' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab_3">
              <div class="row">
                <div class="col-md-8">
                  <% Widget.find_each do |widget| %>
                    <div class="row mb-2">
                      <div class="col-sm-6">
                        <div class="icheck-primary">
                          <%= check_box('widget_pages', 'widget_ids', {multiple: true, checked: checked?(@widget_ids, widget.id), id: "checkboxPrimary#{widget.id}"}, widget.id, nil) %>
                          <label for="<%= "checkboxPrimary#{widget.id}" %>"><%= widget.wname %></label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <% sort = @model.widget_pages.for(widget).sort %>
                        <%= text_field_tag "widget_positions[#{widget.id}]", sort.is_a?(Numeric) ? sort : 500, class: 'form-control' %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <br>
          <%= submit_tag 'Save', class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

