<div class="profile_form_">
  <%= nested_form_for @model, html: {multipart: true} do |f| %>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= image_tag(@model.image.name, width: 100) if @model.image.present? %>
        </div>
        <%= f.fields_for :image do |image_form| %>
          <% if @model.image.present? && !@model.image.name.blank? %>
            <p>
              <label>
                <%= image_form.check_box :remove_name %>
                Remove image
              </label>
            </p>
          <% end %>
          <%= image_form.label :image %>
          <%= image_form.file_field :name %>
        <% end %>

        <% unless @model.user.is_author? %>
          <p>
            <label>
              <input type="checkbox" name="author">
              Become an author
            </label>
          </p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <br>
      <div class="col-md-12"><%= submit_tag 'Save', class: 'btn btn-default' %></div>
    </div>
  <% end %>
</div>