<div class="post post-row">
  <%= render partial: 'posts/image', locals: {post: post, category: post.category} if post.image.present? %>
  <div class="post-body">
    <div class="post-category">
      <%= render partial: 'categories/links', collection: post.categories, as: :category if post.categories.present? %>
    </div>
    <h3 class="post-title"><%= link_to post.name, post_path(post.category.alias, post.alias) %></h3>
    <ul class="post-meta">
      <li><%= link_to post.user.profile.name, profile_path(post.user.profile) %></li>
      <li><%= post.created_at.strftime('%d-%m-%Y') %></li>
    </ul>
    <p><%= post.intro_text %></p>
  </div>
</div>